<li class="list-none m-0 p-0 border-b-2 pb-8 mb-5 last:border-b-0">
<article class="h-entry pt-3 pl-0 flex flex-col-reverse sm:flex-row sm:justify-between">
  {{ if .Title }}
  <section class="post-body">
    <header>
	  <h2><a href="{{ .Permalink }}" class="p-name">{{ .Title }}</a></h2>
    </header>
    <section class="post-body e-content prose prose-lg dark:prose-invert prose-a:font-normal prose-a:no-underline prose-a:text-blue-400 visited:prose-a:text-violet-400 hover:prose-a:text-sky-300 before:prose-code:content-[''] after:prose-code:content-[''] prose-code:bg-sky-200 dark:prose-code:bg-sky-600 prose-code:px-2 prose-code:py-1 prose-code:rounded prose-h1:text-3xl prose-h2:text-2xl prose-h2:mt-3 prose-h2:mb-1 prose-li:my-0">
	  {{ .Content }}
    </section>
  </section>
  {{ else }}
	<div class="post-body e-content prose prose-lg dark:prose-invert prose-a:font-normal prose-a:no-underline prose-a:text-blue-400 visited:prose-a:text-violet-400 hover:prose-a:text-sky-300 before:prose-code:content-[''] after:prose-code:content-[''] prose-code:bg-sky-200 dark:prose-code:bg-sky-600 prose-code:px-2 prose-code:py-1 prose-code:rounded prose-h1:text-3xl prose-h2:text-2xl prose-h2:mt-3 prose-h2:mb-1 prose-li:my-0">
	  {{ .Content }}
	</div>
  {{ end }}
  <a href="{{ .Permalink }}" class="u-url text-sm m-0 mt-1 sm:ml-4 w-max whitespace-nowrap">
	<aside class="dates">
	  <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">

	    {{ $day_in_sec :=  86400 }}
	    {{ $week_in_sec := 604800 }}
	    {{ $month_in_sec := 2592000 }}

	    {{ if (gt (add .Date.Unix $day_in_sec) (time now)) }}
	      {{ .Date.Format "15:04" }}
	    {{ else if (gt (add .Date.Unix $week_in_sec) (time now)) }}
	      {{ .Date.Format "Jan 02" }}
	    {{ else if (gt (add .Date.Unix $month_in_sec) (time now)) }}
	      {{ .Date.Format "Jan 02" }}
	    {{ else }}
	      {{ .Date.Format "Jan 2006" }}
	    {{ end }}
	    <span class="text-blue-400">
	    ∞
	    </span>
	  </time>
	</aside>
  </a>
</article>
</li>
