<li>
<article class="h-entry pt-3 pl-0 flex flex-col sm:flex-row sm:justify-between sm:items-center">
  {{ if .Title }}
  <section class="post-body">
  <header>
	<h2><a href="{{ .Permalink }}" class="p-name">{{ .Title }}</a></h2>
  </header>
  <section class="post-body e-content">
	{{ .Content }}
  </section>
  </section>
  {{ else }}
	<div class="post-body e-content">{{ .Content }}</div>
  {{ end }}
  <a href="{{ .Permalink }}" class="u-url text-sm m-0">
	<aside class="dates">
	  <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">

	    {{ $day_in_sec :=  86400 }}
	    {{ $week_in_sec := 604800 }}
	    {{ $month_in_sec := 2592000 }}

	    {{ if (gt (add .Date.Unix $day_in_sec) (time now)) }}
	      {{ .Date.Format "15:04" }}
	    {{ else if (gt (add .Date.Unix $week_in_sec) (time now)) }}
	      {{ .Date.Format "Jan 02" }}
	    {{ else if (gt (add .Date.Unix $month_in_sec) (time now)) }}
	      {{ .Date.Format "Jan 02" }}
	    {{ else }}
	      {{ .Date.Format "Jan 2006" }}
	    {{ end }}
	  </time>
	</aside>
  </a>
</article>
</li>
<span class="separator"><span class="divider"></span></span>
